In [106]:
import pandas as pd
import numpy as np


import sys

In [107]:
def keep_columns(df):
    df = df[['Recipient', 'Total', 'View']]
    return df

def strip_money(df):
    stripped_money = df['Total'].str.replace('$', '')
    df['Total'] = stripped_money.astype('float')
    return df

def clean_names(df):
    # new data frame with split value columns
    data_names = df["Recipient"].str.split(" ", n = 0, expand = True).copy()
    frames = [df, data_names]
    df = pd.concat(frames, axis = 1)
    df['First Name'] = df[1]
    df['Last Name'] = df[0]
    df['donations2012'] = df['Total']
    df['Party'] = df['View']  
    df = df.drop(columns =['Total'])
    df = df.drop(columns =['View'])
    df = df.drop(columns =[0])
    df = df.drop(columns =[1])
    df = df.drop(columns =[2])
    df = df.drop(columns =["Recipient"])
    df.iloc[:, ::-1]
    return df

In [108]:
a = "~/Documents/GitHub/CampaignDonations/External_Input_Data/Donation_Data/bloomberg_donations_2012.csv"
aa = "~/Documents/GitHub/CampaignDonations/External_Input_Data/Donation_Data/citadel_donations_2012.csv"

donations_2012 = pd.read_csv(aa)

In [109]:
donations_2012 = keep_columns(donations_2012)

In [110]:
donations_2012 = strip_money(donations_2012)

In [111]:
donations_2012 = clean_names(donations_2012)

In [112]:
donations_2012.head()

    First Name Last Name  donations2012       Party
0          Jim     Himes        15000.0    Democrat
1          Bob      Dold        15000.0  Republican
2  Christopher    Murphy        13500.0    Democrat
3          Tom    Cotton         5000.0  Republican
4         Judy   Biggert         5000.0  Republican

In [113]:
b = "~/Documents/GitHub/CampaignDonations/External_Input_Data/Donation_Data/bloomberg_donations_2014.csv"
bb = "~/Documents/GitHub/CampaignDonations/External_Input_Data/Donation_Data/citadel_donations_2014.csv"

donations_2014 = pd.read_csv(bb)

In [114]:
donations_2014 = keep_columns(donations_2014)

In [115]:
donations_2014 = strip_money(donations_2014)

In [116]:
donations_2014 = clean_names(donations_2014)

In [117]:
donations_2014['donations2014'] = donations_2014['donations2012']
donations_2014 = donations_2014.drop(columns =["donations2012"])

In [118]:
donations_2014.head()

  First Name Last Name       Party  donations2014
0        Tom    Cotton  Republican        35050.0
1        Bob      Dold  Republican        11800.0
2        Jim     Himes    Democrat        10400.0
3     Steven    Daines  Republican        10100.0
4       Bill   Cassidy  Republican         7800.0

In [119]:
c = "~/Documents/GitHub/CampaignDonations/External_Input_Data/Donation_Data/bloomberg_donations_2016.csv"
cc = "~/Documents/GitHub/CampaignDonations/External_Input_Data/Donation_Data/citadel_donations_2016.csv"

donations_2016 = pd.read_csv(cc)

In [120]:
donations_2016 = keep_columns(donations_2016)

In [121]:
donations_2016 = strip_money(donations_2016)

In [122]:
donations_2016 = clean_names(donations_2016)

In [123]:
donations_2016['donations2016'] = donations_2016['donations2012']
donations_2016 = donations_2016.drop(columns =["donations2012"])

In [124]:
donations_2016.head()

  First Name Last Name       Party  donations2016
0       Paul      Ryan  Republican        27200.0
1      Peter    Roskam  Republican        17000.0
2        Bob      Dold  Republican        13750.0
3      Randy  Hultgren  Republican        10800.0
4    Patrick   McHenry  Republican         8100.0

In [125]:
d = "~/Documents/GitHub/CampaignDonations/External_Input_Data/Donation_Data/bloomberg_donations_2018.csv"
dd = "~/Documents/GitHub/CampaignDonations/External_Input_Data/Donation_Data/citadel_donations_2018.csv"

donations_2018 = pd.read_csv(dd)

In [126]:
donations_2018 = keep_columns(donations_2018)

In [127]:
donations_2018 = strip_money(donations_2018)

In [128]:
donations_2018 = clean_names(donations_2018)

In [129]:
donations_2018['donations2018'] = donations_2018['donations2012']
donations_2018 = donations_2018.drop(columns =["donations2012"])

In [130]:
donations_2018.head()

  First Name     Last Name       Party  donations2018
0      Peter        Roskam  Republican        25300.0
1    Antonio       Delgado    Democrat         8100.0
2       Mike          Bost  Republican         8100.0
3     Ashley  Lunkenheimer    Democrat         5900.0
4     Elissa       Slotkin    Democrat         5474.0

In [131]:
donations_2012.shape

(27, 4)

In [132]:
donations_2014.shape

(31, 4)

In [133]:
donations_2016.shape

(85, 4)

In [134]:
donations_2018.shape

(133, 4)

In [135]:
test_merge = pd.merge(donations_2012,donations_2014, how="outer")
test_merge = pd.merge(test_merge,donations_2016, how="outer")
test_merge = pd.merge(test_merge,donations_2018, how="outer")
test_merge.head()

,First Name,Last Name,donations2012,Party,donations2014,donations2016,donations2018
0,Jim,Himes,15000.0,Democrat,10400.0,5400.0,5400.0
1,Bob,Dold,15000.0,Republican,11800.0,13750.0,NaN
2,Christopher,Murphy,13500.0,Democrat,NaN,NaN,NaN
3,Tom,Cotton,5000.0,Republican,35050.0,NaN,NaN
4,Judy,Biggert,5000.0,Republican,NaN,NaN,NaN

In [136]:
cols = ["First Name", 'Last Name','Party', 'donations2012', 'donations2014', 'donations2016','donations2018']
new_frame = test_merge[cols]
new_frame.head()

,First Name,Last Name,Party,donations2012,donations2014,donations2016,donations2018
0,Jim,Himes,Democrat,15000.0,10400.0,5400.0,5400.0
1,Bob,Dold,Republican,15000.0,11800.0,13750.0,NaN
2,Christopher,Murphy,Democrat,13500.0,NaN,NaN,NaN
3,Tom,Cotton,Republican,5000.0,35050.0,NaN,NaN
4,Judy,Biggert,Republican,5000.0,NaN,NaN,NaN

In [137]:
new_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 222 entries, 0 to 221
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   First Name     222 non-null    object
 1   Last Name      222 non-null    object
 2   Party          222 non-null    object
 3   donations2012  27 non-null     float64
 4   donations2014  31 non-null     float64
 5   donations2016  85 non-null     float64
 6   donations2018  133 non-null    float64
dtypes: float64(4), object(3)
memory usage: 13.9+ KB

In [138]:
new_frame = new_frame.fillna(0)

In [139]:
def party_to_party(df):
    df['Party'].replace('Republican', 'R',inplace=True)
    df['Party'].replace('Democrat', 'D',inplace=True)
    df = df.rename(columns = {'Party': "party"})
    return df

In [140]:
new_frame = party_to_party(new_frame)
new_frame.head()

,First Name,Last Name,party,donations2012,donations2014,donations2016,donations2018
0,Jim,Himes,D,15000.0,10400.0,5400.0,5400.0
1,Bob,Dold,R,15000.0,11800.0,13750.0,0.0
2,Christopher,Murphy,D,13500.0,0.0,0.0,0.0
3,Tom,Cotton,R,5000.0,35050.0,0.0,0.0
4,Judy,Biggert,R,5000.0,0.0,0.0,0.0

In [141]:
def column_rename(df,old,new):
    df = df.rename(columns = {old: new})
    return df

In [142]:
new_frame = column_rename(new_frame, 'First Name', 'first')
new_frame = column_rename(new_frame, 'Last Name', 'last')
new_frame.head()

,first,last,party,donations2012,donations2014,donations2016,donations2018
0,Jim,Himes,D,15000.0,10400.0,5400.0,5400.0
1,Bob,Dold,R,15000.0,11800.0,13750.0,0.0
2,Christopher,Murphy,D,13500.0,0.0,0.0,0.0
3,Tom,Cotton,R,5000.0,35050.0,0.0,0.0
4,Judy,Biggert,R,5000.0,0.0,0.0,0.0

In [143]:
# Save Data-Set externally

compression_opts = dict(method='zip',
                        archive_name='Donation_Data_Citadel.csv')  
new_frame.to_csv('Donation_Data_Citadel.zip', index=False,
          compression=compression_opts)