In [1]:
import pandas as pd
import numpy as np


import sys

In [2]:
sys.path

['C:\\Users\\jmitc\\rollcall',
 'C:\\Users\\jmitc\\anaconda3\\python38.zip',
 'C:\\Users\\jmitc\\anaconda3\\DLLs',
 'C:\\Users\\jmitc\\anaconda3\\lib',
 'C:\\Users\\jmitc\\anaconda3',
 '',
 'C:\\Users\\jmitc\\anaconda3\\lib\\site-packages',
 'C:\\Users\\jmitc\\anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\jmitc\\anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\jmitc\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\jmitc\\anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\jmitc\\.ipython']

In [3]:
%run donation2012clean.ipynb

[WinError 2] The system cannot find the file specified: 'C:\\Users\\jmitc\\rollcall\\Donation_Data'
C:\Users\jmitc\rollcall

<ipython-input-3-089944ab8ae0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total'] = stripped_money.astype('float')

In [4]:
donations_2012 = pd.read_csv('donations2012.csv')

In [5]:
donations_2012 = keep_columns(donations_2012)

In [6]:
donations_2012 = strip_money(donations_2012)

In [7]:
donations_2012 = clean_names(donations_2012)

In [8]:
donations_2012.head()

  First Name Last Name  donations2012       Party
0     Howard    Berman        38750.0    Democrat
1      Tammy   Baldwin        12500.0    Democrat
2     Daniel   Webster        12000.0  Republican
3       Adam    Schiff        10500.0    Democrat
4        Joe    Barton        10000.0  Republican

In [9]:
donations_2014 = pd.read_csv('donations2014.csv')

In [10]:
donations_2014 = keep_columns(donations_2014)

In [11]:
donations_2014 = strip_money(donations_2014)

In [12]:
donations_2014 = clean_names(donations_2014)

In [13]:
donations_2014['donations2014'] = donations_2014['donations2012']
donations_2014 = donations_2014.drop(columns =["donations2012"])

In [14]:
donations_2014.head()

  First Name  Last Name       Party  donations2014
0        Bob  Goodlatte  Republican        18250.0
1       Clay      Aiken    Democrat        11650.0
2     Daniel    Webster  Republican        11250.0
3       Gary     Peters    Democrat        10400.0
4      Henry     Waxman    Democrat         7700.0

In [15]:
donations_2016 = pd.read_csv('donations2016.csv')

In [16]:
donations_2016 = keep_columns(donations_2016)

In [17]:
donations_2016 = strip_money(donations_2016)

In [18]:
donations_2016 = clean_names(donations_2016)

In [19]:
donations_2016['donations2016'] = donations_2016['donations2012']
donations_2016 = donations_2016.drop(columns =["donations2012"])

In [20]:
donations_2016.head()

  First Name  Last Name       Party  donations2016
0    Jerrold     Nadler    Democrat        19250.0
1    Patrick     Murphy    Democrat        14297.0
2      Tammy  Duckworth    Democrat        12820.0
3        Bob  Goodlatte  Republican        10500.0
4       Greg     Walden  Republican         9000.0

In [21]:
donations_2018 = pd.read_csv('donations2018.csv')

In [22]:
donations_2018 = keep_columns(donations_2018)

In [23]:
donations_2018 = strip_money(donations_2018)

In [24]:
donations_2018 = clean_names(donations_2018)

In [25]:
donations_2018['donations2018'] = donations_2018['donations2012']
donations_2018 = donations_2018.drop(columns =["donations2012"])

In [26]:
donations_2018.head()

  First Name   Last Name     Party  donations2018
0       Beto    O'Rourke  Democrat        44781.0
1      Katie        Hill  Democrat        40848.0
2       Adam      Schiff  Democrat        40020.0
3      Jacky       Rosen  Democrat        26296.0
4       Abby  Finkenauer  Democrat        23701.0

In [27]:
donations_2012.shape

(139, 4)

In [28]:
donations_2014.shape

(106, 4)

In [29]:
donations_2016.shape

(165, 4)

In [30]:
donations_2018.shape

(328, 4)

In [31]:
test_merge = pd.merge(donations_2012,donations_2014, how="outer")

In [32]:
test_merge.head(20)

     First Name  Last Name  donations2012       Party  donations2014
0        Howard     Berman        38750.0    Democrat            NaN
1         Tammy    Baldwin        12500.0    Democrat            NaN
2        Daniel    Webster        12000.0  Republican        11250.0
3          Adam     Schiff        10500.0    Democrat         7500.0
4           Joe     Barton        10000.0  Republican            NaN
5       Loretta    Sanchez         9000.0    Democrat         1250.0
6        Xavier    Becerra         8100.0    Democrat         3500.0
7          Mack       Bono         7000.0  Republican            NaN
8         Henry     Waxman         7000.0    Democrat         7700.0
9          Fred      Upton         6500.0  Republican         3500.0
10         John    Boehner         6500.0  Republican          250.0
11       Marsha  Blackburn         5000.0  Republican            NaN
12        Lamar      Smith         5000.0  Republican         3500.0
13         Mufi  Hannemann         5000.0    Democrat            NaN
14          Dan    Lungren         5000.0  Republican            NaN
15      Colleen   Hanabusa         5000.0    Democrat            NaN
16         Eric     Cantor         5000.0  Republican         5000.0
17  Christopher     Murphy         4750.0    Democrat            NaN
18        Steny      Hoyer         4675.0    Democrat            NaN
19         John    Dingell         4500.0    Democrat            NaN

In [33]:
test_merge.shape

(197, 5)

In [34]:
test_merge = pd.merge(test_merge,donations_2016, how="outer")
test_merge = pd.merge(test_merge,donations_2018, how="outer")

In [35]:
test_merge.shape

(537, 7)

In [36]:
test_merge.head()

,First Name,Last Name,donations2012,Party,donations2014,donations2016,donations2018
0,Howard,Berman,38750.0,Democrat,NaN,NaN,NaN
1,Tammy,Baldwin,12500.0,Democrat,NaN,NaN,NaN
2,Daniel,Webster,12000.0,Republican,11250.0,2000.0,1000.0
3,Adam,Schiff,10500.0,Democrat,7500.0,5000.0,40020.0
4,Joe,Barton,10000.0,Republican,NaN,1000.0,NaN

In [37]:
cols = ["First Name", 'Last Name','Party', 'donations2012', 'donations2014', 'donations2016','donations2018']

In [38]:
new_frame = test_merge[cols]

In [39]:
new_frame.head()

,First Name,Last Name,Party,donations2012,donations2014,donations2016,donations2018
0,Howard,Berman,Democrat,38750.0,NaN,NaN,NaN
1,Tammy,Baldwin,Democrat,12500.0,NaN,NaN,NaN
2,Daniel,Webster,Republican,12000.0,11250.0,2000.0,1000.0
3,Adam,Schiff,Democrat,10500.0,7500.0,5000.0,40020.0
4,Joe,Barton,Republican,10000.0,NaN,1000.0,NaN

In [40]:
disney_donations = new_frame

In [41]:
disney_donations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 537 entries, 0 to 536
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   First Name     537 non-null    object
 1   Last Name      537 non-null    object
 2   Party          537 non-null    object
 3   donations2012  139 non-null    float64
 4   donations2014  106 non-null    float64
 5   donations2016  165 non-null    float64
 6   donations2018  328 non-null    float64
dtypes: float64(4), object(3)
memory usage: 33.6+ KB

In [42]:
disney_donations = disney_donations.fillna(0)

In [43]:
disney_donations.shape
copy = disney_donations.copy()

In [44]:
copy['Party'].replace('Republican', 'R',inplace=True)
copy['Party'].replace('Democrat', 'D',inplace=True)

In [45]:
copy.rename(columns = {'Party': "party"})

,First Name,Last Name,party,donations2012,donations2014,donations2016,donations2018
0,Howard,Berman,D,38750.0,0.0,0.0,0.0
1,Tammy,Baldwin,D,12500.0,0.0,0.0,0.0
2,Daniel,Webster,R,12000.0,11250.0,2000.0,1000.0
3,Adam,Schiff,D,10500.0,7500.0,5000.0,40020.0
4,Joe,Barton,R,10000.0,0.0,1000.0,0.0
...,...,...,...,...,...,...,...
532,Randy,Wadkins,D,0.0,0.0,0.0,1.0
533,Perry,Gershon,D,0.0,0.0,0.0,1.0
534,Charlie,Crist,D,0.0,0.0,0.0,1.0
535,Mel,Hall,D,0.0,0.0,0.0,1.0
536,Tedra,Cobb,D,0.0,0.0,0.0,1.0

In [46]:
def party_to_party(df):
    df['Party'].replace('Republican', 'R',inplace=True)
    df['Party'].replace('Democrat', 'D',inplace=True)
    df = df.rename(columns = {'Party': "party"})
    return df

In [47]:
disney_donations = party_to_party(disney_donations)

In [48]:
disney_donations.head()

,First Name,Last Name,party,donations2012,donations2014,donations2016,donations2018
0,Howard,Berman,D,38750.0,0.0,0.0,0.0
1,Tammy,Baldwin,D,12500.0,0.0,0.0,0.0
2,Daniel,Webster,R,12000.0,11250.0,2000.0,1000.0
3,Adam,Schiff,D,10500.0,7500.0,5000.0,40020.0
4,Joe,Barton,R,10000.0,0.0,1000.0,0.0

In [49]:
def column_rename(df,old,new):
    df = df.rename(columns = {old: new})
    return df

In [50]:
disney_donations = column_rename(disney_donations, 'First Name', 'first')

In [51]:
disney_donations.head()

,first,Last Name,party,donations2012,donations2014,donations2016,donations2018
0,Howard,Berman,D,38750.0,0.0,0.0,0.0
1,Tammy,Baldwin,D,12500.0,0.0,0.0,0.0
2,Daniel,Webster,R,12000.0,11250.0,2000.0,1000.0
3,Adam,Schiff,D,10500.0,7500.0,5000.0,40020.0
4,Joe,Barton,R,10000.0,0.0,1000.0,0.0

In [52]:
disney_donations = column_rename(disney_donations, 'Last Name', 'last')

In [56]:
disney_donations.head()

KeyError: 'G.K.'