In [ ]:
# Running a Random Forest as Baseline and for Feature Selection

In [ ]:
# Data: MoH_Vote_Data_Long_Sorted.csv 
# Contains Donation Data by Disney and the rations of voting along party line in 5 categories over 4 sessios

In [108]:
import csv
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [109]:
# Get Data
x = "~/Documents/GitHub/CampaignDonations/Output_Data/MoH_Vote_AllDonors_Data_Long_Sorted.csv"
df = pd.read_csv(x)
df.head(20)

,person,Year,sex_y,party_short,birth_y,ethnicity_y,religion_y,disney_donations,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,Bloomberg_Donations,Citadel_Donations,disney_donations_lagMinus1,Bloomberg_donations_lagMinus1,Citadel_donations_lagMinus1
0,0,2012,0,D,0,0,0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,NaN,0.0
1,0,2014,0,D,0,0,0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,NaN,0.0
2,0,2016,0,D,0,0,0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,NaN,0.0
3,0,2018,0,D,0,0,0,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,NaN,NaN,NaN
4,1,2012,0,D,0,0,0,0.0,0.000000,0.333333,0.333333,0.571429,0.666667,0.0,0.0,NaN,NaN,0.0
5,1,2014,0,D,0,0,0,0.0,0.666667,0.600000,0.000000,0.200000,0.000000,0.0,0.0,NaN,NaN,0.0
6,1,2016,0,D,0,0,0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,NaN,0.0
7,1,2018,0,D,0,0,0,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,NaN,NaN,NaN
8,2,2012,0,D,0,0,0,0.0,0.750000,0.500000,0.666667,0.714286,0.666667,0.0,0.0,NaN,NaN,0.0
9,2,2014,0,D,0,0,0,0.0,0.333333,0.800000,0.333333,0.800000,0.750000,0.0,0.0,NaN,NaN,0.0
10,2,2016,0,D,0,0,0,0.0,0.600000,0.428571,0.555556,0.250000,0.000000,0.0,0.0,NaN,NaN,0.0
11,2,2018,0,D,0,0,0,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,NaN,NaN,NaN
12,3,2012,0,D,0,0,0,0.0,0.500000,0.500000,0.666667,0.714286,0.666667,0.0,0.0,NaN,NaN,0.0
13,3,2014,0,D,0,0,0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,NaN,0.0
14,3,2016,0,D,0,0,0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,NaN,0.0
15,3,2018,0,D,0,0,0,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,NaN,NaN,NaN
16,4,2012,male,D,1948-08-16,white,0,0.0,0.000000,0.333333,0.333333,0.571429,0.666667,0.0,0.0,0.0,NaN,0.0
17,4,2014,male,D,1948-08-16,white,0,0.0,0.333333,0.800000,0.333333,0.400000,0.500000,0.0,0.0,0.0,NaN,0.0
18,4,2016,male,D,1948-08-16,white,0,0.0,0.400000,0.428571,0.222222,0.000000,0.000000,0.0,0.0,1000.0,NaN,0.0
19,4,2018,male,D,1948-08-16,white,0,1000.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,NaN,NaN,NaN

In [110]:
df.columns.tolist()

['person',
 'Year',
 'sex_y',
 'party_short',
 'birth_y',
 'ethnicity_y',
 'religion_y',
 'disney_donations',
 'VoteAlongRatio_Film',
 'VoteAlongRatio_FS_IIR',
 'VoteAlongRatio_FS_FSS',
 'VoteAlongRatio_FS_CM',
 'VoteAlongRatio_FS_REB',
 'Bloomberg_Donations',
 'Citadel_Donations',
 'disney_donations_lagMinus1',
 'Bloomberg_donations_lagMinus1',
 'Citadel_donations_lagMinus1']

In [113]:
# Clean Data
list = [ 'birth_y', "religion_y"]

df = df.drop(columns = list)

In [114]:
#Rename some columns
df = df.rename(columns = {'sex_y':"sex",  "ethnicity_y":'ethnicity'})

In [115]:
# Get dummines for "character"-data
df = pd.get_dummies(df, columns = ['sex', 'Year', 'ethnicity', "party_short"])
df.head()

,person,disney_donations,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,Bloomberg_Donations,Citadel_Donations,disney_donations_lagMinus1,...,ethnicity_0,ethnicity_asian,ethnicity_black,ethnicity_hispanic,ethnicity_islander,ethnicity_native,ethnicity_white,party_short_D,party_short_N,party_short_R
0,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,...,1,0,0,0,0,0,0,1,0,0
1,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,...,1,0,0,0,0,0,0,1,0,0
2,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,...,1,0,0,0,0,0,0,1,0,0
3,0,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.0,0.0,NaN,...,1,0,0,0,0,0,0,1,0,0
4,1,0.0,0.0,0.333333,0.333333,0.571429,0.666667,0.0,0.0,NaN,...,1,0,0,0,0,0,0,1,0,0

In [116]:
# Split Data into Train and Test Sets

#create a list of all unique IDs
ids=df
data_id=ids.drop_duplicates(subset='person')
data_id=data_id[['person']]
data_id.shape

(748, 1)

In [117]:
# Create new variable with random number between one and zero

np.random.seed(42)
data_id['data_use'] = (np.random.randint(0, 10000, data_id.shape[0]))/10000
data_id=data_id[['person', 'data_use']]
data_id.head()

    person  data_use
0        0    0.7270
4        1    0.0860
8        2    0.5390
12       3    0.5191
16       4    0.5734

In [118]:
# Assign each person to a modeling group training or testing 

data_id['MODELING_GROUP'] = np.where(((data_id.data_use <= 0.55)), 'TRAINING', 'TESTING')
data_id.head()

    person  data_use MODELING_GROUP
0        0    0.7270        TESTING
4        1    0.0860       TRAINING
8        2    0.5390       TRAINING
12       3    0.5191       TRAINING
16       4    0.5734        TESTING

In [119]:
groups = data_id.groupby(['MODELING_GROUP'])['person'].count()
groups

MODELING_GROUP
TESTING     348
TRAINING    400
Name: person, dtype: int64

In [120]:

df=df.sort_values(by=['person'], ascending=[True])
data_id=data_id.sort_values(by=['person'], ascending=[True])
df_modelgroups =df.merge(data_id, on=['person'], how='inner')
df_modelgroups.head()

,person,disney_donations,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,Bloomberg_Donations,Citadel_Donations,disney_donations_lagMinus1,...,ethnicity_black,ethnicity_hispanic,ethnicity_islander,ethnicity_native,ethnicity_white,party_short_D,party_short_N,party_short_R,data_use,MODELING_GROUP
0,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,...,0,0,0,0,0,1,0,0,0.727,TESTING
1,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,...,0,0,0,0,0,1,0,0,0.727,TESTING
2,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,...,0,0,0,0,0,1,0,0,0.727,TESTING
3,0,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.0,0.0,NaN,...,0,0,0,0,0,1,0,0,0.727,TESTING
4,1,0.0,0.0,0.333333,0.333333,0.571429,0.666667,0.0,0.0,NaN,...,0,0,0,0,0,1,0,0,0.086,TRAINING

In [121]:

df_modelgroups["Disney_Donations_Diff"] = df_modelgroups["disney_donations_lagMinus1"] - df_modelgroups["disney_donations"]
df_modelgroups["Bloomberg_Donations_Diff"] = df_modelgroups["Bloomberg_donations_lagMinus1"] - df_modelgroups["Bloomberg_Donations"]
df_modelgroups["Citadel_Donations_Diff"] = df_modelgroups["Citadel_donations_lagMinus1"] - df_modelgroups["Citadel_Donations"]
  

df_modelgroups.head()

,person,disney_donations,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,Bloomberg_Donations,Citadel_Donations,disney_donations_lagMinus1,...,ethnicity_native,ethnicity_white,party_short_D,party_short_N,party_short_R,data_use,MODELING_GROUP,Disney_Donations_Diff,Bloomberg_Donations_Diff,Citadel_Donations_Diff
0,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,...,0,0,1,0,0,0.727,TESTING,NaN,NaN,0.0
1,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,...,0,0,1,0,0,0.727,TESTING,NaN,NaN,0.0
2,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,...,0,0,1,0,0,0.727,TESTING,NaN,NaN,0.0
3,0,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.0,0.0,NaN,...,0,0,1,0,0,0.727,TESTING,NaN,NaN,NaN
4,1,0.0,0.0,0.333333,0.333333,0.571429,0.666667,0.0,0.0,NaN,...,0,0,1,0,0,0.086,TRAINING,NaN,NaN,0.0

In [122]:
# Clean Data
list = [ 'data_use',  'disney_donations', 'Bloomberg_Donations', 'Citadel_Donations',
        'disney_donations_lagMinus1','Bloomberg_donations_lagMinus1','Citadel_donations_lagMinus1']

df_modelgroups= df_modelgroups.drop(columns = list)

,person,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,sex_0,sex_female,sex_male,Year_2012,...,ethnicity_islander,ethnicity_native,ethnicity_white,party_short_D,party_short_N,party_short_R,MODELING_GROUP,Disney_Donations_Diff,Bloomberg_Donations_Diff,Citadel_Donations_Diff
0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,1,...,0,0,0,1,0,0,TESTING,NaN,NaN,0.0
1,0,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,...,0,0,0,1,0,0,TESTING,NaN,NaN,0.0
2,0,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,...,0,0,0,1,0,0,TESTING,NaN,NaN,0.0
3,0,0.000000,0.000000,0.000000,1.000000,0.000000,1,0,0,0,...,0,0,0,1,0,0,TESTING,NaN,NaN,NaN
4,1,0.000000,0.333333,0.333333,0.571429,0.666667,1,0,0,1,...,0,0,0,1,0,0,TRAINING,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,21,0.000000,0.333333,0.333333,0.571429,0.333333,0,1,0,1,...,0,0,1,1,0,0,TESTING,0.0,NaN,0.0
86,21,0.333333,0.800000,0.333333,0.400000,0.250000,0,1,0,0,...,0,0,1,1,0,0,TESTING,0.0,NaN,0.0
87,21,0.800000,0.142857,0.333333,0.000000,0.000000,0,1,0,0,...,0,0,1,1,0,0,TESTING,80.0,NaN,0.0
88,22,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,...,0,0,0,1,0,0,TESTING,NaN,NaN,0.0
89,22,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,...,0,0,0,1,0,0,TESTING,NaN,NaN,0.0

In [130]:

 #Save Data-Set externally
MoH_Vote_Data_Long_Sorted_CLEAN = df_modelgroups
compression_opts = dict(method='zip',
                        archive_name='MoH_Vote_AllDonors_Data_Long_Sorted_CLEAN.csv')  
MoH_Vote_Data_Long_Sorted_CLEAN.to_csv('MoH_Vote_AllDonors_Data_Long_Sorted_CLEAN.zip', index=False,
          compression=compression_opts)

In [ ]:
# Implementing Random Forest Bloomberg

In [ ]:
# Model 1: RandomForesetClassifier

In [97]:
df_modelgroups.head()

,person,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,sex_female,sex_male,Year_2012,Year_2014,...,ethnicity_hispanic,ethnicity_islander,ethnicity_native,ethnicity_white,party_short_D,party_short_R,MODELING_GROUP,Disney_Donations_Diff,Bloomberg_Donations_Diff,Citadel_Donations_Diff
0,4,0.0,0.333333,0.333333,0.571429,0.666667,0,1,1,0,...,0,0,0,1,1,0,TESTING,0.0,0.0,0.0
1,4,0.0,0.800000,0.333333,0.400000,0.500000,0,1,0,1,...,0,0,0,1,1,0,TESTING,0.0,0.0,0.0
2,4,0.0,0.428571,0.222222,0.000000,0.000000,0,1,0,0,...,0,0,0,1,1,0,TESTING,1000.0,0.0,0.0
3,4,0.0,1.000000,1.000000,1.000000,1.000000,0,1,0,0,...,0,0,0,1,1,0,TESTING,NaN,NaN,NaN
4,10,0.0,0.500000,0.666667,0.571429,0.666667,0,1,1,0,...,0,0,0,0,1,0,TRAINING,2000.0,0.0,0.0

In [98]:
# Preparing the data:

# Dropping all rows that contain "nan" in target-column
df_modelgroups = df_modelgroups[df_modelgroups["Bloomberg_Donations_Diff"].notna()]
   
df_modelgroups["Bloomberg_Donations_Dummy"] = df_modelgroups["Bloomberg_Donations_Diff"]
    
#Create donation-change dummies

# 2 for increase in donations
# 1 for no change in donations
# 0 for decline in donations 

for x in range(len(df_modelgroups)):
    if df_modelgroups["Bloomberg_Donations_Diff"].iloc[x] == 0:  
        df_modelgroups["Bloomberg_Donations_Dummy"].iloc[x] = 1
    elif df_modelgroups["Bloomberg_Donations_Diff"].iloc[x] > 0:  
        df_modelgroups["Bloomberg_Donations_Dummy"].iloc[x] = 2
    elif df_modelgroups["Bloomberg_Donations_Diff"].iloc[x] < 0:  
        df_modelgroups["Bloomberg_Donations_Dummy"].iloc[x] = 0

    
df_modelgroups.head()

,person,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,sex_female,sex_male,Year_2012,Year_2014,...,ethnicity_islander,ethnicity_native,ethnicity_white,party_short_D,party_short_R,MODELING_GROUP,Disney_Donations_Diff,Bloomberg_Donations_Diff,Citadel_Donations_Diff,Bloomberg_Donations_Dummy
0,4,0.0,0.333333,0.333333,0.571429,0.666667,0,1,1,0,...,0,0,1,1,0,TESTING,0.0,0.0,0.0,1.0
1,4,0.0,0.800000,0.333333,0.400000,0.500000,0,1,0,1,...,0,0,1,1,0,TESTING,0.0,0.0,0.0,1.0
2,4,0.0,0.428571,0.222222,0.000000,0.000000,0,1,0,0,...,0,0,1,1,0,TESTING,1000.0,0.0,0.0,1.0
4,10,0.0,0.500000,0.666667,0.571429,0.666667,0,1,1,0,...,0,0,0,1,0,TRAINING,2000.0,0.0,0.0,1.0
5,10,0.0,0.800000,0.333333,0.400000,0.500000,0,1,0,1,...,0,0,0,1,0,TRAINING,0.0,0.0,0.0,1.0

In [129]:

#df_modelgroups.Bloomberg_Donations_Diff.value_counts()

In [100]:
df_modelgroups.columns.tolist()

['person',
 'VoteAlongRatio_Film',
 'VoteAlongRatio_FS_IIR',
 'VoteAlongRatio_FS_FSS',
 'VoteAlongRatio_FS_CM',
 'VoteAlongRatio_FS_REB',
 'sex_female',
 'sex_male',
 'Year_2012',
 'Year_2014',
 'Year_2016',
 'Year_2018',
 'ethnicity_asian',
 'ethnicity_black',
 'ethnicity_hispanic',
 'ethnicity_islander',
 'ethnicity_native',
 'ethnicity_white',
 'party_short_D',
 'party_short_R',
 'MODELING_GROUP',
 'Disney_Donations_Diff',
 'Bloomberg_Donations_Diff',
 'Citadel_Donations_Diff',
 'Bloomberg_Donations_Dummy']

In [102]:
from sklearn.ensemble import RandomForestClassifier


# Split dataset (prepare data for splitting)
list = ["person",   'Disney_Donations_Diff', 'Bloomberg_Donations_Diff', 'Citadel_Donations_Diff']
df_modelgroups_split = df_modelgroups.drop(columns=list)

# Continue with Splitting
X_train = df_modelgroups_split[df_modelgroups_split["MODELING_GROUP"] == "TRAINING"]
y_train = X_train[["Bloomberg_Donations_Dummy"]]


X_test = df_modelgroups_split[df_modelgroups_split["MODELING_GROUP"] == "TESTING"]
y_test = X_test[["Bloomberg_Donations_Dummy"]]

X_train = X_train.drop(columns = ["MODELING_GROUP", "Bloomberg_Donations_Dummy"])
X_test = X_test.drop(columns = ["MODELING_GROUP", "Bloomberg_Donations_Dummy"])

In [103]:
X_train.head()

,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,sex_female,sex_male,Year_2012,Year_2014,Year_2016,Year_2018,ethnicity_asian,ethnicity_black,ethnicity_hispanic,ethnicity_islander,ethnicity_native,ethnicity_white,party_short_D,party_short_R
4,0.0,0.500000,0.666667,0.571429,0.666667,0,1,1,0,0,0,0,1,0,0,0,0,1,0
5,0.0,0.800000,0.333333,0.400000,0.500000,0,1,0,1,0,0,0,1,0,0,0,0,1,0
6,0.0,0.285714,0.444444,0.250000,0.333333,0,1,0,0,1,0,0,1,0,0,0,0,1,0
8,0.0,0.500000,0.666667,0.714286,0.666667,0,1,1,0,0,0,0,0,0,0,0,1,1,0
9,0.0,0.800000,0.333333,0.400000,1.000000,0,1,0,1,0,0,0,0,0,0,0,1,1,0

In [104]:
np.random.seed(42)

rnd_clf = RandomForestClassifier(n_estimators = 1000, max_leaf_nodes = 10,  n_jobs = -1)

In [105]:
rnd_clf.fit(X_train, y_train)

RandomForestClassifier(max_leaf_nodes=10, n_estimators=1000, n_jobs=-1)

In [106]:
# Get Feature Importance 

for name, score in zip(X_train.columns, rnd_clf.feature_importances_):
    print(name, score)

VoteAlongRatio_Film 0.0
VoteAlongRatio_FS_IIR 0.15957838875462313
VoteAlongRatio_FS_FSS 0.11415114346239992
VoteAlongRatio_FS_CM 0.1279995138453701
VoteAlongRatio_FS_REB 0.1279482334725422
sex_female 0.05595959093028669
sex_male 0.05808010972375717
Year_2012 0.023829141305342843
Year_2014 0.021873481549143727
Year_2016 0.03471200846810781
Year_2018 0.0
ethnicity_asian 0.04709269418497113
ethnicity_black 0.04183447372769417
ethnicity_hispanic 0.01368041241488681
ethnicity_islander 0.0
ethnicity_native 0.0
ethnicity_white 0.09183022149211241
party_short_D 0.041475383432785604
party_short_R 0.039955203235976296

In [141]:
from sklearn.metrics import accuracy_score

y_pred_rf = rnd_clf.predict(X_test)

print(accuracy_score(y_test, y_pred_rf))

0.7121212121212122

In [204]:
# Get a better tuned model via feature tuning and CV-Grid Search 

# Code from: https://towardsdatascience.com/hyperparameter-tuning-the-random-forest-in-python-using-scikit-learn-28d2aa77dd74

from sklearn.model_selection import RandomizedSearchCV

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [205]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rnd_clf_baseline = RandomForestClassifier()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random_clf = RandomizedSearchCV(estimator = rnd_clf_baseline, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
#rf_random_clf.fit(X_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

RandomizedSearchCV(cv=3, estimator=RandomForestClassifier(), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [200, 400, 600, 800,
                                                         1000, 1200, 1400, 1600,
                                                         1800, 2000]},
                   random_state=42, verbose=2)

In [207]:
rf_random_clf.best_params_

{'n_estimators': 400,
 'min_samples_split': 5,
 'min_samples_leaf': 1,
 'max_features': 'sqrt',
 'max_depth': 30,
 'bootstrap': True}

In [211]:

best_random_clf = rf_random_clf.best_estimator_
y_pred_random = best_random_clf.predict(X_test)

rnd_clf_baseline =  RandomForestClassifier(n_estimators = 10, random_state = 42)
rnd_clf_baseline.fit(X_train, y_train)
y_pred_baseline = rnd_clf_baseline.predict(X_test)

print(accuracy_score(y_test, y_pred_random))
print(accuracy_score(y_test, y_pred_baseline))

0.9848484848484849
0.9878787878787879

In [142]:
df_modelgroups.head()

,person,Year,disney_donations,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,disney_donations_lagMinus1,disney_donations_lagPlus1,...,ethnicity_black,ethnicity_hispanic,ethnicity_islander,ethnicity_native,ethnicity_white,party_short_D,party_short_R,data_use,MODELING_GROUP,disney_donations_dummy
0,4,2012,0.0,0.000000,0.333333,0.333333,0.571429,0.666667,0.0,NaN,...,0,0,0,0,1,1,0,0.727,TESTING,1.0
1,4,2014,0.0,0.333333,0.800000,0.333333,0.400000,0.500000,0.0,0.0,...,0,0,0,0,1,1,0,0.727,TESTING,1.0
2,4,2016,0.0,0.400000,0.428571,0.222222,0.000000,0.000000,1000.0,0.0,...,0,0,0,0,1,1,0,0.727,TESTING,2.0
3,4,2018,1000.0,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.0,...,0,0,0,0,1,1,0,0.727,TESTING,NaN
4,10,2012,0.0,0.500000,0.500000,0.666667,0.571429,0.666667,2000.0,NaN,...,1,0,0,0,0,1,0,0.086,TRAINING,2.0

In [212]:
# Model 2: RandomForestRegressor

# Preparing the data:

df_modelgroups["disney_donations_difference"] = df_modelgroups["disney_donations_lagMinus1"] - df_modelgroups["disney_donations"]
  
# Dropping all rows that contain "nan" in target-column
df_modelgroups = df_modelgroups[df_modelgroups["disney_donations_difference"].notna()]
   
df_modelgroups.head()

,person,Year,disney_donations,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,disney_donations_lagMinus1,disney_donations_lagPlus1,...,ethnicity_hispanic,ethnicity_islander,ethnicity_native,ethnicity_white,party_short_D,party_short_R,data_use,MODELING_GROUP,disney_donations_dummy,disney_donations_difference
0,4,2012,0.0,0.000000,0.333333,0.333333,0.571429,0.666667,0.0,NaN,...,0,0,0,1,1,0,0.727,TESTING,1.0,0.0
1,4,2014,0.0,0.333333,0.800000,0.333333,0.400000,0.500000,0.0,0.0,...,0,0,0,1,1,0,0.727,TESTING,1.0,0.0
2,4,2016,0.0,0.400000,0.428571,0.222222,0.000000,0.000000,1000.0,0.0,...,0,0,0,1,1,0,0.727,TESTING,2.0,1000.0
4,10,2012,0.0,0.500000,0.500000,0.666667,0.571429,0.666667,2000.0,NaN,...,0,0,0,0,1,0,0.086,TRAINING,2.0,2000.0
5,10,2014,2000.0,0.666667,0.800000,0.333333,0.400000,0.500000,2000.0,0.0,...,0,0,0,0,1,0,0.086,TRAINING,1.0,0.0

In [213]:
# Split dataset (prepare data for splitting)
list = ["person", "disney_donations", "disney_donations_lagMinus1", "disney_donations_lagPlus1", "disney_donations_dummy", "data_use"]
df_modelgroups_split2 = df_modelgroups.drop(columns=list)


# Continue with Splitting
X_train = df_modelgroups_split2[df_modelgroups_split2["MODELING_GROUP"] == "TRAINING"]
y_train = X_train[["disney_donations_difference"]]


X_test = df_modelgroups_split2[df_modelgroups_split2["MODELING_GROUP"] == "TESTING"]
y_test = X_test[["disney_donations_difference"]]

X_train = X_train.drop(columns = ["MODELING_GROUP", "disney_donations_difference"])
X_test = X_test.drop(columns = ["MODELING_GROUP", "disney_donations_difference"])

X_train.head()

,Year,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,sex_female,sex_male,ethnicity_asian,ethnicity_black,ethnicity_hispanic,ethnicity_islander,ethnicity_native,ethnicity_white,party_short_D,party_short_R
4,2012,0.500000,0.500000,0.666667,0.571429,0.666667,0,1,0,1,0,0,0,0,1,0
5,2014,0.666667,0.800000,0.333333,0.400000,0.500000,0,1,0,1,0,0,0,0,1,0
6,2016,0.600000,0.285714,0.444444,0.250000,0.333333,0,1,0,1,0,0,0,0,1,0
8,2012,0.250000,0.500000,0.666667,0.714286,0.666667,0,1,0,0,0,0,0,1,1,0
9,2014,1.000000,0.800000,0.333333,0.400000,1.000000,0,1,0,0,0,0,0,1,1,0

In [214]:
from sklearn.ensemble import RandomForestRegressor


np.random.seed(42)

rnd_reg = RandomForestRegressor(n_estimators = 311, min_samples_split= 2, min_samples_leaf = 12, max_features = "sqrt", max_depth = 10, bootstrap = True)


from pprint import pprint
print('Parameters currently in use:\n')
pprint(rnd_reg.get_params())

Parameters currently in use:

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'mse',
 'max_depth': 10,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 12,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 311,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [215]:
rnd_reg.fit(X_train, y_train)

RandomForestRegressor(max_depth=10, max_features='sqrt', min_samples_leaf=12,
                      n_estimators=311)

In [216]:

y_pred = rnd_reg.predict(X_test)

In [217]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 723.0749125907192
Mean Squared Error: 2188665.853121046
Root Mean Squared Error: 1479.414023565089

In [218]:
# Grid search for best tuned parameters: 
# Code taken from: https://towardsdatascience.com/hyperparameter-tuning-the-random-forest-in-python-using-scikit-learn-28d2aa77dd74

from sklearn.model_selection import RandomizedSearchCV

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2 ,5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [4, 8, 12]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

pprint(random_grid)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [4, 8, 12],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [100, 311, 522, 733, 944, 1155, 1366, 1577, 1788, 2000]}

In [187]:
# Code taken from: https://towardsdatascience.com/hyperparameter-tuning-the-random-forest-in-python-using-scikit-learn-28d2aa77dd74

# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
#rf_random.fit(X_train, y_train)

print(rf_random.best_params_)

Fitting 3 folds for each of 100 candidates, totalling 300 fits
{'n_estimators': 1577, 'min_samples_split': 2, 'min_samples_leaf': 12, 'max_features': 'sqrt', 'max_depth': 10, 'bootstrap': True}

In [219]:

best_random = rf_random.best_estimator_
y_pred_random = best_random.predict(X_test)

rnd_reg_baseline = RandomForestRegressor(n_estimators = 10, random_state = 42)
rnd_reg_baseline.fit(X_train, y_train)
y_pred_baseline = rnd_reg_baseline.predict(X_test)


print('Mean Absolute Error Baseline:', metrics.mean_absolute_error(y_test, y_pred_baseline))
print('Mean Absolute Error Random Best:', metrics.mean_absolute_error(y_test, y_pred_random ))

print('Mean Squared Error Baseline:', metrics.mean_squared_error(y_test, y_pred_baseline))
print('Mean Squared Error Random Best:', metrics.mean_squared_error(y_test, y_pred_random ))

print('Root Mean Squared Error Baseline:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_baseline)))
print('Root Mean Squared Error Random Best:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_random )))

Mean Absolute Error Baseline: 1570.8508662263755
Mean Absolute Error Random Best: 718.0981613641769
Mean Squared Error Baseline: 15957464.19127864
Mean Squared Error Random Best: 2184103.58260815
Root Mean Squared Error Baseline: 3994.6794854254126
Root Mean Squared Error Random Best: 1477.87130109768

In [253]:
# Training Curves: Number of Trees wiht best Random Model

# Code from: https://github.com/WillKoehrsen/Machine-Learning-Projects/blob/master/random_forest_explained/Improving%20Random%20Forest%20Part%202.ipynb


import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import GridSearchCV

plt.style.use('fivethirtyeight')


# Grid with only the number of trees changed
tree_grid = {'n_estimators': [int(x) for x in np.linspace(1, 301, 30)]}

# Create the grid search model and fit to the training data
tree_grid_search = GridSearchCV(rnd_reg_baseline, param_grid=tree_grid, verbose = 2, n_jobs=-1, cv = 3,
                                scoring = 'neg_mean_absolute_error')

tree_grid_search.fit(X_train, y_train);

Fitting 3 folds for each of 30 candidates, totalling 90 fits

In [254]:
tree_grid_search.cv_results_

{'mean_fit_time': array([0.01901507, 0.0994401 , 0.1905218 , 0.21722929, 0.23831344,
        0.19965005, 0.22788866, 0.2723724 , 0.31139294, 0.34955756,
        0.36561855, 0.39780855, 0.42880273, 0.45848163, 0.49483641,
        0.53695623, 0.56434004, 0.60081371, 0.63693396, 0.66942191,
        0.70175409, 0.73770801, 0.78240927, 0.82184076, 0.85458835,
        0.87234966, 0.94979302, 0.97133096, 1.07145603, 0.87677431]),
 'std_fit_time': array([0.00185732, 0.00787518, 0.04180077, 0.05401035, 0.05433826,
        0.01249646, 0.01147285, 0.01854602, 0.01631871, 0.01379399,
        0.01301065, 0.00658695, 0.00696311, 0.01002792, 0.01148934,
        0.0171532 , 0.00914447, 0.00826627, 0.01744566, 0.01594498,
        0.01538811, 0.00997423, 0.01504542, 0.01304199, 0.02725748,
        0.00431245, 0.04349362, 0.01868037, 0.05040887, 0.09159516]),
 'mean_score_time': array([0.01132234, 0.01974328, 0.03734771, 0.01810757, 0.02535327,
        0.0163873 , 0.0210526 , 0.01996756, 0.03406302, 0.0315667 ,
        0.02764098, 0.03038001, 0.03178898, 0.03044208, 0.03620172,
        0.03705637, 0.03664366, 0.04243199, 0.04922787, 0.04774936,
        0.04509187, 0.05182536, 0.05133605, 0.05637852, 0.056259  ,
        0.05797187, 0.07943821, 0.07739067, 0.06634569, 0.04131444]),
 'std_score_time': array([0.00252854, 0.00453982, 0.00772941, 0.00226289, 0.01232731,
        0.00133121, 0.00136888, 0.00104103, 0.00818967, 0.009095  ,
        0.00249768, 0.00130186, 0.00239301, 0.00125659, 0.00100414,
        0.00096677, 0.00296788, 0.00390442, 0.00452113, 0.00206367,
        0.00120163, 0.00607131, 0.00288642, 0.00433174, 0.00158925,
        0.00369781, 0.01594835, 0.02343992, 0.00259454, 0.0093236 ]),
 'param_n_estimators': masked_array(data=[1, 11, 21, 32, 42, 52, 63, 73, 83, 94, 104, 114, 125,
                    135, 145, 156, 166, 176, 187, 197, 207, 218, 228, 238,
                    249, 259, 269, 280, 290, 301],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'n_estimators': 1},
  {'n_estimators': 11},
  {'n_estimators': 21},
  {'n_estimators': 32},
  {'n_estimators': 42},
  {'n_estimators': 52},
  {'n_estimators': 63},
  {'n_estimators': 73},
  {'n_estimators': 83},
  {'n_estimators': 94},
  {'n_estimators': 104},
  {'n_estimators': 114},
  {'n_estimators': 125},
  {'n_estimators': 135},
  {'n_estimators': 145},
  {'n_estimators': 156},
  {'n_estimators': 166},
  {'n_estimators': 176},
  {'n_estimators': 187},
  {'n_estimators': 197},
  {'n_estimators': 207},
  {'n_estimators': 218},
  {'n_estimators': 228},
  {'n_estimators': 238},
  {'n_estimators': 249},
  {'n_estimators': 259},
  {'n_estimators': 269},
  {'n_estimators': 280},
  {'n_estimators': 290},
  {'n_estimators': 301}],
 'split0_test_score': array([-1502.66593594, -1287.94603876, -1210.93807857, -1198.59838812,
        -1205.87187038, -1228.41820334, -1238.67454621, -1235.4338343 ,
        -1232.09812438, -1237.0712483 , -1228.21669824, -1217.2497911 ,
        -1210.67991151, -1208.85319309, -1213.70717412, -1215.34953232,
        -1214.89171713, -1211.72142736, -1214.68377815, -1214.15177241,
        -1214.45207572, -1215.67805402, -1212.6559189 , -1211.00545988,
        -1209.67639453, -1207.9648494 , -1208.79430628, -1207.98336788,
        -1209.80157824, -1208.23601215]),
 'split1_test_score': array([-1860.54061625, -1944.0392654 , -1783.41693195, -1816.13195265,
        -1709.5441088 , -1741.10780597, -1697.45548606, -1636.44963609,
        -1591.20700287, -1603.40636983, -1591.53557866, -1593.09722127,
        -1600.13177996, -1617.95927745, -1617.84876918, -1605.11903164,
        -1615.34901516, -1598.08538409, -1583.29893318, -1600.06345948,
        -1589.24845173, -1587.03769945, -1573.66453971, -1575.18124128,
        -1576.86534692, -1582.24817062, -1585.73213176, -1608.86647805,
        -1599.10078918, -1605.34412784]),
 'split2_test_score': array([-547.59650527, -669.44443397, -630.25738645, -620.85406877,
        -631.25612864, -645.72396813, -617.3154728 , -603.61216157,
        -595.30997487, -600.27908685, -592.91583023, -592.03171625,
        -595.34956852, -598.73351452, -603.84597465, -600.54901406,
        -597.64555959, -602.46913239, -604.91521338, -604.21963417,
        -606.20435   , -606.26957592, -607.71152227, -603.18759607,
        -601.62833054, -604.82142943, -602.74753506, -602.67438325,
        -601.68983171, -599.20125955]),
 'mean_test_score': array([-1303.60101915, -1300.47657937, -1208.20413232, -1211.86146985,
        -1182.22403594, -1205.08332581, -1184.48183502, -1158.49854398,
        -1139.53836738, -1146.91890166, -1137.55603571, -1134.12624287,
        -1135.38708666, -1141.84866169, -1145.13397265, -1140.33919267,
        -1142.62876396, -1137.42531461, -1134.29930823, -1139.47828869,
        -1136.63495915, -1136.32844313, -1131.34399362, -1129.79143241,
        -1129.39002399, -1131.67814982, -1132.4246577 , -1139.84140973,
        -1136.86406638, -1137.59379985]),
 'std_test_score': array([554.18149281, 520.42659227, 470.7793823 , 488.0602674 ,
        440.52669771, 447.49288668, 442.62719416, 425.14906513,
        411.80756352, 414.45680971, 412.69429144, 412.88834612,
        413.64121346, 418.78593926, 416.7950174 , 413.52963888,
        418.60604524, 409.83969585, 403.44757862, 409.96611891,
        405.08069502, 404.3091215 , 398.51811324, 400.94862537,
        402.16599848, 402.66239291, 404.91885752, 413.5924949 ,
        410.44452731, 413.78223699]),
 'rank_test_score': array([30, 29, 27, 28, 24, 26, 25, 23, 16, 22, 13,  6,  8, 19, 21, 18, 20,
        12,  7, 15, 10,  9,  3,  2,  1,  4,  5, 17, 11, 14], dtype=int32)}

In [255]:
import csv
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
import time
from sklearn.model_selection import train_test_split



def plot_results(model, param = 'n_estimators', name = 'Num Trees'):
    param_name = 'param_%s' % param

    # Extract information from the cross validation model
    train_scores = model.cv_results_['mean_train_score']
    test_scores = model.cv_results_['mean_test_score']
    train_time = model.cv_results_['mean_fit_time']
    param_values = list(model.cv_results_[param_name])
    
    # Plot the scores over the parameter
    plt.subplots(1, 2, figsize=(10, 6))
    plt.subplot(121)
    plt.plot(param_values, train_scores, 'bo-', label = 'train')
    plt.plot(param_values, test_scores, 'go-', label = 'test')
    plt.ylim(ymin = -10, ymax = 0)
    plt.legend()
    plt.xlabel(name)
    plt.ylabel('Neg Mean Absolute Error')
    plt.title('Score vs %s' % name)
    
    plt.subplot(122)
    plt.plot(param_values, train_time, 'ro-')
    plt.ylim(ymin = 0.0, ymax = 2.0)
    plt.xlabel(name)
    plt.ylabel('Train Time (sec)')
    plt.title('Training Time vs %s' % name)
    
    
    plt.tight_layout(pad = 4)

In [256]:
plot_results(tree_grid_search)

KeyError: 'mean_train_score'

In [260]:

# Define a grid over only the maximum number of features
feature_grid = {'max_features': list(range(1, X_train.shape[1] + 1))}


# Create the grid search and fit on the training data
feature_grid_search = GridSearchCV(rnd_reg_baseline, param_grid=feature_grid, cv = 3, n_jobs=-1, verbose= 2,
                                  scoring = 'neg_mean_absolute_error')
feature_grid_search.fit(X_train, y_train);

plot_results(feature_grid_search, param='max_features', name = 'Max Features')

TypeError: 'list' object is not callable