In [ ]:
# Running a Random Forest as Baseline and for Feature Selection

In [ ]:
# Data: MoH_Vote_Data_Long_Sorted.csv 
# Contains Donation Data by Disney and the rations of voting along party line in 5 categories over 4 sessios

In [180]:
import csv
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [232]:
# Get Data
x = "MoH_Vote_AllDonors_Data_Long_Sorted_New.csv"
df = pd.read_csv(x)
df.head(20)

,person,Year,party_short,ethnicity,sex,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,Bloomberg_Donations,Citadel_Donations,Bloomberg_donations_lagMinus1,Citadel_donations_lagMinus1
0,0,2012,R,white,male,0.750000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
1,0,2014,R,white,male,0.666667,0.800000,0.333333,0.600000,0.750000,0.0,0.0,0.0,0.0
2,0,2016,R,white,male,0.800000,0.857143,0.888889,1.000000,1.000000,0.0,0.0,0.0,0.0
3,0,2018,R,white,male,0.000000,0.500000,0.333333,1.000000,0.333333,0.0,0.0,NaN,NaN
4,1,2012,R,white,female,0.750000,0.833333,0.666667,0.714286,0.333333,0.0,0.0,0.0,0.0
5,1,2014,R,white,female,1.000000,0.800000,0.333333,0.600000,0.750000,0.0,0.0,0.0,0.0
6,1,2016,R,white,female,0.600000,0.857143,0.777778,1.000000,1.000000,0.0,0.0,0.0,0.0
7,1,2018,R,white,female,0.000000,0.500000,0.333333,1.000000,0.333333,0.0,0.0,NaN,NaN
8,2,2012,R,white,male,0.500000,0.833333,0.333333,0.714286,0.666667,0.0,0.0,0.0,0.0
9,2,2014,R,white,male,1.000000,0.800000,0.333333,0.600000,0.750000,0.0,0.0,0.0,0.0
10,2,2016,R,white,male,0.600000,0.857143,0.888889,1.000000,1.000000,0.0,0.0,0.0,0.0
11,2,2018,R,white,male,0.500000,0.500000,0.333333,1.000000,0.333333,0.0,0.0,NaN,NaN
12,3,2012,R,white,male,0.750000,0.833333,0.666667,0.714286,0.666667,0.0,0.0,0.0,0.0
13,3,2014,R,white,male,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
14,3,2016,R,white,male,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
15,3,2018,R,white,male,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,NaN,NaN
16,4,2012,R,white,male,1.000000,1.000000,1.000000,0.571429,1.000000,0.0,0.0,0.0,0.0
17,4,2014,R,white,male,0.666667,1.000000,0.666667,0.800000,1.000000,0.0,0.0,0.0,0.0
18,4,2016,R,white,male,0.800000,0.857143,0.777778,1.000000,1.000000,0.0,0.0,0.0,0.0
19,4,2018,R,white,male,0.000000,0.500000,0.333333,1.000000,0.333333,0.0,0.0,NaN,NaN

In [233]:
df.columns.tolist()

['person',
 'Year',
 'party_short',
 'ethnicity',
 'sex',
 'VoteAlongRatio_Film',
 'VoteAlongRatio_FS_IIR',
 'VoteAlongRatio_FS_FSS',
 'VoteAlongRatio_FS_CM',
 'VoteAlongRatio_FS_REB',
 'Bloomberg_Donations',
 'Citadel_Donations',
 'Bloomberg_donations_lagMinus1',
 'Citadel_donations_lagMinus1']

In [182]:
# Clean Data
#list = [ 'birth_y', "religion_y"]
#df = df.drop(columns = list)

In [183]:
#Rename some columns
#df = df.rename(columns = {'sex_y':"sex",  "ethnicity_y":'ethnicity'})

In [234]:
# Get dummines for "character"-data
df = pd.get_dummies(df, columns = ['sex', 'ethnicity', "party_short"])
df.head()

,person,Year,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,Bloomberg_Donations,Citadel_Donations,Bloomberg_donations_lagMinus1,...,sex_male,ethnicity_asian,ethnicity_black,ethnicity_hispanic,ethnicity_islander,ethnicity_native,ethnicity_white,party_short_0,party_short_D,party_short_R
0,0,2012,0.750000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,0,1
1,0,2014,0.666667,0.800000,0.333333,0.600000,0.750000,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,0,1
2,0,2016,0.800000,0.857143,0.888889,1.000000,1.000000,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,0,1
3,0,2018,0.000000,0.500000,0.333333,1.000000,0.333333,0.0,0.0,NaN,...,1,0,0,0,0,0,1,0,0,1
4,1,2012,0.750000,0.833333,0.666667,0.714286,0.333333,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,1

In [235]:
# Split Data into Train and Test Sets

#create a list of all unique IDs
ids=df
data_id=ids.drop_duplicates(subset='person')
data_id=data_id[['person']]
data_id.shape

(278, 1)

In [236]:
# Create new variable with random number between one and zero

np.random.seed(42)
data_id['data_use'] = (np.random.randint(0, 10000, data_id.shape[0]))/10000
data_id=data_id[['person', 'data_use']]
data_id.head()

    person  data_use
0        0    0.7270
4        1    0.0860
8        2    0.5390
12       3    0.5191
16       4    0.5734

In [237]:
# Assign each person to a modeling group training or testing 

data_id['MODELING_GROUP'] = np.where(((data_id.data_use <= 0.55)), 'TRAINING', 'TESTING')
data_id.head()

    person  data_use MODELING_GROUP
0        0    0.7270        TESTING
4        1    0.0860       TRAINING
8        2    0.5390       TRAINING
12       3    0.5191       TRAINING
16       4    0.5734        TESTING

In [238]:
groups = data_id.groupby(['MODELING_GROUP'])['person'].count()
groups

MODELING_GROUP
TESTING     133
TRAINING    145
Name: person, dtype: int64

In [239]:

df=df.sort_values(by=['person'], ascending=[True])
data_id=data_id.sort_values(by=['person'], ascending=[True])
df_modelgroups =df.merge(data_id, on=['person'], how='inner')
df_modelgroups.head()

,person,Year,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,Bloomberg_Donations,Citadel_Donations,Bloomberg_donations_lagMinus1,...,ethnicity_black,ethnicity_hispanic,ethnicity_islander,ethnicity_native,ethnicity_white,party_short_0,party_short_D,party_short_R,data_use,MODELING_GROUP
0,0,2012,0.750000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0,0,0,0,1,0,0,1,0.727,TESTING
1,0,2014,0.666667,0.800000,0.333333,0.600000,0.750000,0.0,0.0,0.0,...,0,0,0,0,1,0,0,1,0.727,TESTING
2,0,2016,0.800000,0.857143,0.888889,1.000000,1.000000,0.0,0.0,0.0,...,0,0,0,0,1,0,0,1,0.727,TESTING
3,0,2018,0.000000,0.500000,0.333333,1.000000,0.333333,0.0,0.0,NaN,...,0,0,0,0,1,0,0,1,0.727,TESTING
4,1,2012,0.750000,0.833333,0.666667,0.714286,0.333333,0.0,0.0,0.0,...,0,0,0,0,1,0,0,1,0.086,TRAINING

In [240]:

#df_modelgroups["Disney_Donations_Diff"] = df_modelgroups["disney_donations_lagMinus1"] - df_modelgroups["disney_donations"]
df_modelgroups["Bloomberg_Donations_Diff"] = df_modelgroups["Bloomberg_donations_lagMinus1"] - df_modelgroups["Bloomberg_Donations"]
df_modelgroups["Citadel_Donations_Diff"] = df_modelgroups["Citadel_donations_lagMinus1"] - df_modelgroups["Citadel_Donations"]
  

df_modelgroups.head()

,person,Year,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,Bloomberg_Donations,Citadel_Donations,Bloomberg_donations_lagMinus1,...,ethnicity_islander,ethnicity_native,ethnicity_white,party_short_0,party_short_D,party_short_R,data_use,MODELING_GROUP,Bloomberg_Donations_Diff,Citadel_Donations_Diff
0,0,2012,0.750000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0,0,1,0,0,1,0.727,TESTING,0.0,0.0
1,0,2014,0.666667,0.800000,0.333333,0.600000,0.750000,0.0,0.0,0.0,...,0,0,1,0,0,1,0.727,TESTING,0.0,0.0
2,0,2016,0.800000,0.857143,0.888889,1.000000,1.000000,0.0,0.0,0.0,...,0,0,1,0,0,1,0.727,TESTING,0.0,0.0
3,0,2018,0.000000,0.500000,0.333333,1.000000,0.333333,0.0,0.0,NaN,...,0,0,1,0,0,1,0.727,TESTING,NaN,NaN
4,1,2012,0.750000,0.833333,0.666667,0.714286,0.333333,0.0,0.0,0.0,...,0,0,1,0,0,1,0.086,TRAINING,0.0,0.0

In [241]:
df_modelgroups.columns.tolist()

['person',
 'Year',
 'VoteAlongRatio_Film',
 'VoteAlongRatio_FS_IIR',
 'VoteAlongRatio_FS_FSS',
 'VoteAlongRatio_FS_CM',
 'VoteAlongRatio_FS_REB',
 'Bloomberg_Donations',
 'Citadel_Donations',
 'Bloomberg_donations_lagMinus1',
 'Citadel_donations_lagMinus1',
 'sex_female',
 'sex_male',
 'ethnicity_asian',
 'ethnicity_black',
 'ethnicity_hispanic',
 'ethnicity_islander',
 'ethnicity_native',
 'ethnicity_white',
 'party_short_0',
 'party_short_D',
 'party_short_R',
 'data_use',
 'MODELING_GROUP',
 'Bloomberg_Donations_Diff',
 'Citadel_Donations_Diff']

In [243]:
# Clean Data
list = [ 'data_use', "party_short_0", 'Bloomberg_Donations', 'Citadel_Donations',
       'Bloomberg_donations_lagMinus1','Citadel_donations_lagMinus1']

df_modelgroups= df_modelgroups.drop(columns = list)

In [192]:
df_modelgroups.head()

,person,Year,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,sex_female,sex_male,ethnicity_asian,...,ethnicity_hispanic,ethnicity_islander,ethnicity_native,ethnicity_white,party_short_D,party_short_R,MODELING_GROUP,Disney_Donations_Diff,Bloomberg_Donations_Diff,Citadel_Donations_Diff
0,0,2012,0.0,0.000000,0.000000,0.000000,0.000000,0,0,0,...,0,0,0,0,1,0,TESTING,NaN,NaN,0.0
1,0,2014,0.0,0.000000,0.000000,0.000000,0.000000,0,0,0,...,0,0,0,0,1,0,TESTING,NaN,NaN,0.0
2,0,2016,0.0,0.000000,0.000000,0.000000,0.000000,0,0,0,...,0,0,0,0,1,0,TESTING,NaN,NaN,0.0
3,0,2018,0.0,0.000000,0.000000,1.000000,0.000000,0,0,0,...,0,0,0,0,1,0,TESTING,NaN,NaN,NaN
4,1,2012,0.0,0.333333,0.333333,0.571429,0.666667,0,0,0,...,0,0,0,0,1,0,TRAINING,NaN,NaN,0.0

In [244]:

df_modelgroups = df_modelgroups[df_modelgroups["Year"] != 2018]

In [245]:
df_modelgroups = pd.get_dummies(df_modelgroups, columns = ['Year'])

df_modelgroups = df_modelgroups.fillna(0)

In [247]:

df_modelgroups.shape

(834, 22)

In [246]:

 #Save Data-Set externally
MoH_Vote_Data_Long_Sorted_CLEAN = df_modelgroups
compression_opts = dict(method='zip',
                       archive_name='MoH_Vote_AllDonors_Data_Long_Sorted_CLEAN_New.csv')  
MoH_Vote_Data_Long_Sorted_CLEAN.to_csv('MoH_Vote_AllDonors_Data_Long_Sorted_CLEAN_New.zip', index=False,
          compression=compression_opts)

In [ ]:
# Implementing Random Forest Bloomberg

In [ ]:
# Model 1: RandomForesetClassifier

In [201]:
df_modelgroups.head()

,person,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,sex_female,sex_male,ethnicity_asian,ethnicity_black,...,ethnicity_white,party_short_D,party_short_R,MODELING_GROUP,Disney_Donations_Diff,Bloomberg_Donations_Diff,Citadel_Donations_Diff,Year_2012,Year_2014,Year_2016
0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0,...,0,1,0,TESTING,0.0,0.0,0.0,1,0,0
1,0,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0,...,0,1,0,TESTING,0.0,0.0,0.0,0,1,0
2,0,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0,...,0,1,0,TESTING,0.0,0.0,0.0,0,0,1
4,1,0.000000,0.333333,0.333333,0.571429,0.666667,0,0,0,0,...,0,1,0,TRAINING,0.0,0.0,0.0,1,0,0
5,1,0.666667,0.600000,0.000000,0.200000,0.000000,0,0,0,0,...,0,1,0,TRAINING,0.0,0.0,0.0,0,1,0

In [202]:
# Preparing the data:

# Dropping all rows that contain "nan" in target-column
#df_modelgroups = df_modelgroups[df_modelgroups["Bloomberg_Donations_Diff"].notna()]
   
df_modelgroups["Bloomberg_Donations_Dummy"] = df_modelgroups["Bloomberg_Donations_Diff"]
    
#Create donation-change dummies

# 2 for increase in donations
# 1 for no change in donations
# 0 for decline in donations 

for x in range(len(df_modelgroups)):
    if df_modelgroups["Bloomberg_Donations_Diff"].iloc[x] == 0:  
        df_modelgroups["Bloomberg_Donations_Dummy"].iloc[x] = 1
    elif df_modelgroups["Bloomberg_Donations_Diff"].iloc[x] > 0:  
        df_modelgroups["Bloomberg_Donations_Dummy"].iloc[x] = 2
    elif df_modelgroups["Bloomberg_Donations_Diff"].iloc[x] < 0:  
        df_modelgroups["Bloomberg_Donations_Dummy"].iloc[x] = 0

    
df_modelgroups.head()

,person,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,sex_female,sex_male,ethnicity_asian,ethnicity_black,...,party_short_D,party_short_R,MODELING_GROUP,Disney_Donations_Diff,Bloomberg_Donations_Diff,Citadel_Donations_Diff,Year_2012,Year_2014,Year_2016,Bloomberg_Donations_Dummy
0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0,...,1,0,TESTING,0.0,0.0,0.0,1,0,0,1.0
1,0,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0,...,1,0,TESTING,0.0,0.0,0.0,0,1,0,1.0
2,0,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0,...,1,0,TESTING,0.0,0.0,0.0,0,0,1,1.0
4,1,0.000000,0.333333,0.333333,0.571429,0.666667,0,0,0,0,...,1,0,TRAINING,0.0,0.0,0.0,1,0,0,1.0
5,1,0.666667,0.600000,0.000000,0.200000,0.000000,0,0,0,0,...,1,0,TRAINING,0.0,0.0,0.0,0,1,0,1.0

In [135]:

#df_modelgroups.sex_0.value_counts()

0    60
Name: sex_0, dtype: int64

In [203]:
df_modelgroups.columns.tolist()

['person',
 'VoteAlongRatio_Film',
 'VoteAlongRatio_FS_IIR',
 'VoteAlongRatio_FS_FSS',
 'VoteAlongRatio_FS_CM',
 'VoteAlongRatio_FS_REB',
 'sex_female',
 'sex_male',
 'ethnicity_asian',
 'ethnicity_black',
 'ethnicity_hispanic',
 'ethnicity_islander',
 'ethnicity_native',
 'ethnicity_white',
 'party_short_D',
 'party_short_R',
 'MODELING_GROUP',
 'Disney_Donations_Diff',
 'Bloomberg_Donations_Diff',
 'Citadel_Donations_Diff',
 'Year_2012',
 'Year_2014',
 'Year_2016',
 'Bloomberg_Donations_Dummy']

In [221]:
from sklearn.ensemble import RandomForestClassifier


# Split dataset (prepare data for splitting)
list = ["person",   'Disney_Donations_Diff', 'Bloomberg_Donations_Diff', 'Citadel_Donations_Diff']
df_modelgroups_split = df_modelgroups.drop(columns=list)

# Continue with Splitting
X_train = df_modelgroups_split[df_modelgroups_split["MODELING_GROUP"] == "TRAINING"]
y_train = X_train[["Bloomberg_Donations_Dummy"]]


X_test = df_modelgroups_split[df_modelgroups_split["MODELING_GROUP"] == "TESTING"]
y_test = X_test[["Bloomberg_Donations_Dummy"]]

X_train = X_train.drop(columns = ["MODELING_GROUP", "Bloomberg_Donations_Dummy"])
X_test = X_test.drop(columns = ["MODELING_GROUP", "Bloomberg_Donations_Dummy"])

In [222]:
X_train.head()

,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,sex_female,sex_male,ethnicity_asian,ethnicity_black,ethnicity_hispanic,ethnicity_islander,ethnicity_native,ethnicity_white,party_short_D,party_short_R,Year_2012,Year_2014,Year_2016
4,0.000000,0.333333,0.333333,0.571429,0.666667,0,0,0,0,0,0,0,0,1,0,1,0,0
5,0.666667,0.600000,0.000000,0.200000,0.000000,0,0,0,0,0,0,0,0,1,0,0,1,0
6,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0,0,0,0,0,1,0,0,0,1
9,0.600000,0.428571,0.555556,0.250000,0.000000,0,0,0,0,0,0,0,0,1,0,0,0,1
10,0.750000,0.500000,0.666667,0.714286,0.666667,0,0,0,0,0,0,0,0,1,0,1,0,0

In [223]:
np.random.seed(42)

rnd_clf = RandomForestClassifier(n_estimators = 1000, max_leaf_nodes = 10,  n_jobs = -1)

In [224]:
rnd_clf.fit(X_train, y_train)

RandomForestClassifier(max_leaf_nodes=10, n_estimators=1000, n_jobs=-1)

In [225]:
# Get Feature Importance 

for name, score in zip(X_train.columns, rnd_clf.feature_importances_):
    print(name, score)

VoteAlongRatio_Film 0.10301604855198847
VoteAlongRatio_FS_IIR 0.15042456858731276
VoteAlongRatio_FS_FSS 0.10419689382787316
VoteAlongRatio_FS_CM 0.10329942544088579
VoteAlongRatio_FS_REB 0.0864959517277168
sex_female 0.10968782760433082
sex_male 0.04401733546655689
ethnicity_asian 0.09579483038975556
ethnicity_black 0.0355868096591188
ethnicity_hispanic 0.005979119386571387
ethnicity_islander 0.0
ethnicity_native 0.0
ethnicity_white 0.06598614057100699
party_short_D 0.018390261152320776
party_short_R 0.016128235050316422
Year_2012 0.01718994599719379
Year_2014 0.01657301458287608
Year_2016 0.02723359200417537

In [209]:
from sklearn.metrics import accuracy_score

y_pred_rf = rnd_clf.predict(X_test)

print(accuracy_score(y_test, y_pred_rf))

0.985632183908046

In [210]:
# Get a better tuned model via feature tuning and CV-Grid Search 

# Code from: https://towardsdatascience.com/hyperparameter-tuning-the-random-forest-in-python-using-scikit-learn-28d2aa77dd74
from pprint import pprint
from sklearn.model_selection import RandomizedSearchCV

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [211]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rnd_clf_baseline = RandomForestClassifier()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random_clf = RandomizedSearchCV(estimator = rnd_clf_baseline, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random_clf.fit(X_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

RandomizedSearchCV(cv=3, estimator=RandomForestClassifier(), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [200, 400, 600, 800,
                                                         1000, 1200, 1400, 1600,
                                                         1800, 2000]},
                   random_state=42, verbose=2)

In [212]:
rf_random_clf.best_params_

{'n_estimators': 1600,
 'min_samples_split': 2,
 'min_samples_leaf': 4,
 'max_features': 'sqrt',
 'max_depth': 10,
 'bootstrap': True}

In [213]:

best_random_clf = rf_random_clf.best_estimator_
y_pred_random = best_random_clf.predict(X_test)

rnd_clf_baseline =  RandomForestClassifier(n_estimators = 1000, max_leaf_nodes = 10,random_state = 42)
rnd_clf_baseline.fit(X_train, y_train)
y_pred_baseline = rnd_clf_baseline.predict(X_test)

print(accuracy_score(y_test, y_pred_random))
print(accuracy_score(y_test, y_pred_baseline))

0.985632183908046
0.985632183908046

In [169]:
df_modelgroups.head()

,person,VoteAlongRatio_Film,VoteAlongRatio_FS_IIR,VoteAlongRatio_FS_FSS,VoteAlongRatio_FS_CM,VoteAlongRatio_FS_REB,sex_female,sex_male,Year_2012,Year_2014,...,ethnicity_islander,ethnicity_native,ethnicity_white,party_short_D,party_short_R,MODELING_GROUP,Disney_Donations_Diff,Bloomberg_Donations_Diff,Citadel_Donations_Diff,Bloomberg_Donations_Dummy
192,48,0.000000,0.333333,0.333333,0.571429,0.666667,0,1,1,0,...,0,0,0,1,0,TRAINING,0.0,0.0,0.0,1.0
193,48,0.333333,0.800000,0.333333,0.400000,0.250000,0,1,0,1,...,0,0,0,1,0,TRAINING,0.0,0.0,0.0,1.0
194,48,0.600000,0.142857,0.333333,0.000000,0.000000,0,1,0,0,...,0,0,0,1,0,TRAINING,3061.0,58.0,58.0,2.0
200,50,0.800000,0.285714,0.333333,0.000000,0.000000,1,0,0,0,...,0,0,1,1,0,TESTING,NaN,7300.0,7300.0,2.0
202,50,0.500000,0.500000,0.666667,0.714286,0.666667,1,0,1,0,...,0,0,1,1,0,TESTING,NaN,-2400.0,-2400.0,0.0

In [219]:
# Model 2: RandomForestRegressor

In [220]:
#from sklearn.ensemble import RandomForestRegressor
#np.random.seed(42)
#rnd_reg = RandomForestRegressor(n_estimators = 311, min_samples_split= 2, min_samples_leaf = 12, max_features = "sqrt", max_depth = 10, bootstrap = True)
#from pprint import pprint
#print('Parameters currently in use:\n')
#pprint(rnd_reg.get_params())
#rnd_reg.fit(X_train, y_train)
#y_pred = rnd_reg.predict(X_test)
#from sklearn import metrics
#print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
#print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
#print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

In [226]:
# Grid search for best tuned parameters: 
# Code taken from: https://towardsdatascience.com/hyperparameter-tuning-the-random-forest-in-python-using-scikit-learn-28d2aa77dd74

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV
from pprint import pprint

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2 ,5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [4, 8, 12]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

pprint(random_grid)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [4, 8, 12],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [100, 311, 522, 733, 944, 1155, 1366, 1577, 1788, 2000]}

In [216]:
# Code taken from: https://towardsdatascience.com/hyperparameter-tuning-the-random-forest-in-python-using-scikit-learn-28d2aa77dd74

# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
#rf_random.fit(X_train, y_train)

print(rf_random.best_params_)

Fitting 3 folds for each of 100 candidates, totalling 300 fits
{'n_estimators': 311, 'min_samples_split': 5, 'min_samples_leaf': 4, 'max_features': 'auto', 'max_depth': 90, 'bootstrap': False}

In [217]:
np.random.seed(42)
from sklearn import metrics

best_random = rf_random.best_estimator_
y_pred_random = best_random.predict(X_test)

rnd_reg_baseline = RandomForestRegressor(n_estimators = 10, random_state = 42)
rnd_reg_baseline.fit(X_train, y_train)
y_pred_baseline = rnd_reg_baseline.predict(X_test)


print('Mean Absolute Error Baseline:', metrics.mean_absolute_error(y_test, y_pred_baseline))
print('Mean Absolute Error Random Best:', metrics.mean_absolute_error(y_test, y_pred_random ))

print('Mean Squared Error Baseline:', metrics.mean_squared_error(y_test, y_pred_baseline))
print('Mean Squared Error Random Best:', metrics.mean_squared_error(y_test, y_pred_random ))

print('Root Mean Squared Error Baseline:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_baseline)))
print('Root Mean Squared Error Random Best:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_random )))

Mean Absolute Error Baseline: 37.50325670498084
Mean Absolute Error Random Best: 38.263669261424
Mean Squared Error Baseline: 450631.2292911878
Mean Squared Error Random Best: 445283.7053429075
Root Mean Squared Error Baseline: 671.2907189073806
Root Mean Squared Error Random Best: 667.2958154693521

In [227]:
rnd_reg_baseline = RandomForestRegressor(n_estimators = 10, random_state = 42)
rnd_reg_baseline.fit(X_train, y_train)
y_pred_baseline = rnd_reg_baseline.predict(X_test)

In [231]:
# Get Feature Importance 

for name, score in zip(X_train.columns, rnd_reg_baseline.feature_importances_):
    print(name, score)

VoteAlongRatio_Film 0.10941264997170086
VoteAlongRatio_FS_IIR 0.2032265795259661
VoteAlongRatio_FS_FSS 0.10032444808630551
VoteAlongRatio_FS_CM 0.13452676437617916
VoteAlongRatio_FS_REB 0.10667983366085414
sex_female 0.0884716368118809
sex_male 0.014670859691930892
ethnicity_asian 0.08036478365150433
ethnicity_black 0.033051014840497474
ethnicity_hispanic 0.005206977349648349
ethnicity_islander 0.0
ethnicity_native 0.0
ethnicity_white 0.030283865463959725
party_short_D 0.010408319969763175
party_short_R 0.035640736160749656
Year_2012 0.006250915987623727
Year_2014 0.012457688187105423
Year_2016 0.029022926264330423

In [229]:
# modeling routines from Scikit Learn packages
# import sklearn.linear_model
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet, LassoLarsIC
from sklearn.linear_model import RidgeCV, LassoCV, ElasticNetCV
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import make_scorer
from sklearn.model_selection import cross_val_score, train_test_split 
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV 
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import StandardScaler, PolynomialFeatures 
from sklearn.tree import DecisionTreeRegressor, export_graphviz
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor, ExtraTreesRegressor
from sklearn.ensemble import AdaBoostRegressor, GradientBoostingRegressor, VotingRegressor
from sklearn.ensemble import StackingRegressor
from sklearn.svm import SVR, NuSVR
from sklearn.neural_network import MLPRegressor
from sklearn.experimental import enable_hist_gradient_boosting # noqa from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.mixture import GaussianMixture
from sklearn.neighbors import KernelDensity
# Sanity check: Echo output so that we know that this critical first chu nk has run successfully

In [ ]:
# Visualize Feature Importance

In [230]:
forest_predictions = best_random.predict(X_test)
forest_weights = np.array(best_random.feature_importances_)

ValueError: X has 18 features, but DecisionTreeRegressor is expecting 22 features as input.

In [ ]:
# Pie and doughnut plot ideas adapted freely from:
# https://medium.com/@kvnamipara/a-better-visualisation-of-pie-charts-by-matplotlib-935b7667d77f
# Conditional labeling code:
# https://stackoverflow.com/questions/34035427/conditional-removal-of-labels-in-matplotlib-pie-chart/49753079
def format_autopct(pct):
    return ('%1.2f%%' % pct) if pct >= 2 else "*"

def format_labels(sizes, labels):
    new_labels = [label if size >= 0.02 else "*" for size, label in zip(sizes, labels)] 
    return new_labels

def restore_matplotlib_defaults(): 
    sns.reset_defaults() 
    rc_file_defaults() 
    plt.rcParams["figure.dpi"] = 72 
    return

In [ ]:
def doughnut_plot_sorted_feature_importances(model, feature_names, file_name = "default"):
    n_features = len(model.feature_importances_)
    importances = model.feature_importances_
    sorted_index = np.argsort(importances)[::-1]
    pie_labels = np.array(feature_names)[sorted_index]
    #sns.set_palette("nipy_spectral_r", n_colors = n_features) 
    fig, ax = plt.subplots(figsize = (16, 17))
    ax.set_title("Model: " + str(model).partition("(")[0] + "\nSorted feature importances", fontsize = 20)
    ax.pie(importances[sorted_index], labeldistance = 1.04, pctdistance = 0.65,
           labels = format_labels(importances[sorted_index], pie_labels),
           startangle = 90,
           counterclock = False, autopct = format_autopct, 
           wedgeprops = dict(linewidth = 3, edgecolor = "white"), 
           textprops = dict(color = "black", size = 16)) 
    
    # weight = "bold",
    # ax.legend(pie_labels, title = "Features", loc = "center", title_fontsize = 14,
    #           facecolor = "lightcyan", fontsize = 12)
    
    
    # Center circle
    center_circle = plt.Circle((0, 0), 0.75, fc = "white")
    fig = plt.gcf()
    fig.gca().add_artist(center_circle)
    
    # Create legend
    default_colors = plt.rcParams["axes.prop_cycle"].by_key()["color"] 
    patches = []
    
        
    ax.legend(handles = patches, title = "Feature Importances", 
              loc = "center", facecolor = "white", 
              title_fontsize = 20, fontsize = 12)
        
        
    #Equal aspect, then show the whole plot
    ax.axis("equal")
    plt.tight_layout()

In [ ]:
boston_feature_names = X_train.columns.tolist()

In [ ]:
doughnut_plot_sorted_feature_importances(best_random, boston_feature_names, "forest")
#plt.savefig("Disney_Regression_bestrandom_sorted_feature_importances_doughnut.png")